<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

<!--    <bean id="application"-->
<!--          class="com.Application">-->
<!--        <property name="clientRepository" ref="clientRepository"/>-->
<!--    </bean>-->

<!--    Admin functionality-->
    <bean id="adminController"
          class="com.controllers.AdminController">
        <constructor-arg ref="adminService"/>
    </bean>

    <bean id="adminService"
          class="com.service.AdminService"
          lazy-init="true">
        <constructor-arg ref = "clientRepository"/>
    </bean>


<!--    Login functionality-->
    <bean id="loginController"
          class="com.controllers.LoginController">
        <constructor-arg ref="loginService"/>
    </bean>

    <bean id="loginService"
          class="com.service.LoginService"
          lazy-init="true">
        <constructor-arg ref="clientRepository"/>
    </bean>


<!--    Client functionality-->
    <bean id="clientController"
          class="com.controllers.ClientController">
         <constructor-arg ref="clientService"/>
    </bean>

    <bean id="clientService"
          class="com.service.ClientService"
          lazy-init="true">
        <constructor-arg ref="clientRepository"/>
    </bean>


<!--    Repositories-->
    <bean id="clientRepository"
          class="com.repository.ClientRepository">
    </bean>
</beans>